#popular .custom-card {
    border-radius: 15px;
    overflow: hidden;
    border: 0;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
    color: #000;
}

#popular .custom-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.0.9);
}

#popular .card-body {
    height: 80px;
}

#popular .col-custom {
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

#navbar img {
    margin-left: -350px !important;
}

#indice a {
    margin-left: 20px !important;
    font-size: 25px;
}

#indice {
    margin-left: 330px;
}